@tailwind base;
@tailwind components;
@tailwind utilities;
@import url("https://fonts.googleapis.com/css2?family=Spline+Sans:wght@300;400;500;600;700&display=swap");

@layer components {
  /* .custom-class { */
  /*   @apply ...; */
  /* } */
}

body > div,
body,
html {
  margin: 0;
  padding: 0;
  height: 100%;
  width: 100%;
  min-height: 100vh;
  min-width: 100vw;
}
